/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
        /*không cần tính toán kích thước khi có padding và border*/
    ;
}

html {
    /* hành vi khi cuộng */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. tổng quan đến chi tiết
*/


/*
1. vị trí
2. kich thước(w,h)
3. màu sắc
4. kiểu dáng(kiểu chữ, hình tròn,vuông...) 
 */

 /* common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}


/* tạo elemen giả giống class */
.row::after{
    content: "";
    display: block;
    clear: both;
    /* muốn clear bằng both bắt buộc phải có dis;ay block */
}

.btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    /* bỏ gạch chân */
    padding: 11px 16px;
    /* display: inline-block; */
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border: none;

}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.33333%;
}
.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.mt-8{
    margin-top: 8px !important; 
}

.mt-16{
    margin-top: 16px !important; 
}
.pull-right{
    float: right !important;    
}

/* main */
#main {}

/* header */
#header {
    /* width: 100%; */
    z-index: 10;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* overflow: hidden; */

}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}


#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    /* display: inline-block; */

}

#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav li {
    /* display: inline-block; */
    position: relative;
}

#nav .subnav {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* min-width: 160px; */

}

#nav,
.subnav {
    /* Không hiển thị chỉ mục của các danh mục trong danh sách */
    list-style-type: none;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    width: 100%;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    padding: 0 20px;
    line-height: 38px;
}

#nav .down {
    font-size: 10px;
    /* margin-left: 10px; */
}

#header .mobile-menu{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}


#header .mobile-menu,
#header .search {
    float: right;
    padding: 0 21px;


}
#header .mobile-menu:hover,
#header .search:hover {
    cursor: pointer;
    background-color: #ccc;

}

#header .mobile-menu:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* khi mà dùng padding % cái 50% là 50% tỉ lệ chính nó chiều cao bằng 50% chiều rộng*/
    background: url(/assets/img/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;

}

#slider .text-max {
    font-weight: 500;
    /*dao động từ 100 đến 700*/
    font-size: 24px;
}

#slider .text-min {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;

    /* thêm để réponsive */
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    /*letter-spacing khoảng cách giữa các chữ */
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* font style italic làm chữ nghiêng */
    opacity: 0.6;
    /* độ mờ từ 0 đến 1 */
}

#content .about-content {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* căn đều 2 bên chữ */
    line-height: 1.4;
    /* khoảng cách trống giữa các chữ tiếng việ dùng 1.6,tiếng anh dùng 1.4 */
}

#content .members-list {
    margin-top: 32px;
}

#content .member-item {
   
    
    text-align: center;
}

.text-center{
    text-align: center;
}



#content .member-name {
    font-size: 15px;

}

#content .member-avatar {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}


/* tour-section */
#content .tour-section {
    background-color: #000;
}

#content .tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
    /* bỏ dấu chấm của li */
}

#content .tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

#content .tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

#content .tickets-list .quantity {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

/* Places */
.places-list {
    margin-top: 16px;
    padding-bottom: 48px;
}



.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;

}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.palce-desc {
    margin-top: 15px;
    line-height: 1.4;
}



.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.modal.open{
    visibility: inherit;
}

.modal-container {
    width: 900px;
    background-color: #fff;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 2s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-icon-heading{
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
}

.modal-close {
    position: absolute;
    right: 0;
    padding: 10px;
    top: 0;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
}

.modal-icon-close{
    font-size: 30px;
}
.modal-close:hover{
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    cursor: pointer;
    padding: 16px;
    font-size: 15px;
    text-transform: uppercase;
}

#buy-tickets:hover{
    color: #000;
    background: #ccc;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196f3;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* contact from */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
}

.contact-info i{
    /* margin-right: 16px; */
    width: 30px;
    display: inline-block;
    line-height: 1.4;
}
.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border:1px solid #ccc;
    width: 100%;

}
/* map sections */
.map-section img{
    width: 100%;
}


#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;

}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}


/* reponssive */

/* pc: width >= 1024px */
@media (min-width: 1024px){
    .pc{
        display: block;
    }

}

/* máy tính bản(tablet): width >= 740px and width<1024px */
@media  (min-width: 740px) and (max-width: 1023px) {
    .tablet{
        display: block;
    }
}


/* mobie: width < 740px */
@media (max-width: 740px){
    .s-col-full{
        width: 100%;
    }

    /* #main {
        overflow: hidden;
    } */
    #header{
        overflow: hidden;
    }
    
    #header .mobile-menu{
        display: block;
    }
    
    #header .search{
        display: none;
    }
    #nav{
        display: block;
    }
    #na li a{
        padding: 1px 24px;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        /* mặc định */
        position: initial;
        background-color: #333;
    }

    
    #nav .subnav a{
        color: #fff;
        padding: 0 41px;
    }

   
    
    #content .member-avatar{
        width: 60%;
    }

    #contact .col-half{
        width: 100%;
    }

    #contact .contact-info{
        margin-bottom: 16px;
    }



}